<hr />

<h3>Kontaktieren Sie uns!</h3>

<form>
  <div class="form-line">
    <p> E-Mail: </p>
    <input type="email" class="not-button" />
  </div>

  <div class="form-line">
    <p>Nachricht:</p>
    <textarea class="not-button"></textarea>
  </div>

  <input type="submit" value="Senden" class="button" />

</form>