<h3>login</h3>
<form action="/login" enctype="multipart/form-data" method="post">
  <div class="form-line">
    <p>Benutzername</p>
    <input type="text" name="benutzername" /><br />
  </div>
  <p>Passwort</p>
  <input type="password" name="password" /><br />
  <input type="submit" />
</form>