<h3>Registrierung</h3>
<form action="/register" enctype="multipart/form-data" method="post">
  <div class="form-line">
    <p>Benutzername:</p>
    <input type="text" name="benutzername" class="not-button" />
  </div>
  <div class="form-line">
    <p>Passwort:</p>
    <input type="password" name="password" class="not-button" />
  </div>
  <input type="submit" class="button" />

</form>