<p href="/posts/{{id}}">
  <img src="/uploads/{{post.inhalt}}" alt="/construction.gif" width="150px" />
</p>

<h1>{{post.titel}}</h1>
<br>
<p> {{Beschreibung}}</p>



<br>

<a href="/account" class="button">Zurück</a>

{{>footer}}