<h1>{{post.titel}}</h1>

<p href="/posts{{id}}">
  <img
    src="/project/workspace/public/uploads/{{inhalt}}"
    alt="../public/uploads/construction.gif"
  /></p>

<a href="/account" class="button">Zurück</a>

{{footer}}


