<form action="/create_post" enctype="multipart/form-data" method="post">
  <div>
    <input type="text" name="titel" class="not-button" id="posts_titel" />
  </div>
  <input type="file" name="inhalt" />
  <div>
    <input type="submit" class="button" />
  </div>
</form>