<form action="/create_post" enctype="multipart/form-data" method="post">
  <div>
    <input type="text" name="titel" />
  </div>
  <input type="file" name="inhalt" />
  <input type="submit" class="button" />
</form>