<h1>Hallo Welt!</h1>
<div id="3">
    {{#posts}}
    <h3>{{inhalt}}</h3>
    {{/posts}}
</div>

<p>Willkommen auf meiner Website. Hier wird in Kürze eine interaktive Webapplikation entstehen. Viel Vergnügen!</p>


{{> contactform}}
