
<div id="start">
<h1>Share your pictures</h1>

{{>login}}


<p> If you dont have an account please create one under registeren </p>

<a href="/create" class="button">  Registeren</a> 

{{> footer}}
</div>
