* {
  font-family: "Amandine";
  margin: 0;
}

header,
footer {
  background-color: rgb(176, 191, 194);
  padding: 15px;
}

p,
h1,
h2,
h3,
img,
form {
  margin: 20px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
  color: rgb(206, 206, 206);
}

#start {
  padding-top: 10%;
  background-color: rgb(176, 191, 194);
}

.not-button {
  margin-top: 10px;
  background-color: lightgrey;
  border-radius: 3px;
  width: 50vw;
  border-width: 1px;
  border: black;
  padding: 7px;
}

.form-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: rgb(176, 191, 194);
  box-shadow: none;
  padding: 10px 15px 10px 15px;
  border-radius: 40px;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  margin: 10px;
}

.button:hover {
  background-color: black;
  color: white;
}

#footer {
  margin-top: 10%;
  color: rgb(176, 191, 194);
  position: sticky;
}

.bilder-übersicht {
  width: 30vw;
  margin: 5px;
}

header {
  display: flex;
  width: 90 vw;
  justify-content: space-between;
}
.logo {
  margin-right: 40vw;
}
